@use "../abstracts" as *;

.footer {
  width: 100%;
  border-top: 1px solid clr("slate", "100");
  background-color: clr("neutral", "000");
  padding-block: size(12);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: size(8);
    gap: size(8);
    max-width: container(max);
    margin-inline: auto;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__brand {
    font-weight: 800;
    background: linear-gradient(
      to right,
      clr("accent", "600"),
      clr("accent", "400")
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: ff(sans);
    font-size: fs("600");
    letter-spacing: -0.025em;
  }

  &__copyright {
    text-align: center;
    font-size: fs("250");
    font-weight: 500;
    color: clr("slate", "500");

    @include mq(md) {
      text-align: right;
    }
  }
}
