@use "../abstracts" as *;

html {
  --navbar-height: 5.5rem;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: #{clr("accent", "600")} #{clr("neutral", "100")};
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: clr("neutral", "100");
}

::-webkit-scrollbar-thumb {
  background-color: clr("accent", "600");
  border-radius: radius(pill);

  &:hover {
    background-color: clr("accent", "700");
  }
}
